@charset "UTF-8";
html,
body,
.wrap {
    min-height: 100vh;
}

body {
    color: #333;
    font: 12px/1.5 -apple-system, 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    position: relative;
}

.wrap {
    max-width: 6.4rem;
    padding-bottom: 1.1rem;
    margin: 0 auto;
}





/* 雪碧图 */

.icon-sprite,
.m-home .home-link,
.public-quick-start .img-box:after,
.go-shop-wrap .u-go-shop:before,
.go-shop-wrap .u-go-shop:after,
.bottom-bar-pannel .bar-img {
    background: url(../images/css_sprites.png);
    background-size: 5.34rem 5.61rem;
}





/* 头部 */

.header {
    padding: 0 .18rem;
    height: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color;
}

.m-logo {
    max-width: 5rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.m-home {
    font-size: 0;
    .home-link {
        display: inline-block;
        width: .45rem;
        height: .36rem;
        background-position: -1.04rem -3.83rem;
    }
}





/* Banner */

.m-banner {
    .owl-controls {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 0;
        .owl-page {
            display: inline-block;
            margin: 0 .06rem .12rem;
            width: .12rem;
            height: .12rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .4);
            cursor: pointer;
            -webkit-transition: height ease .3s;
            transition: height ease .3s;
            span {
                display: none;
            }
        }
        .active {
            background-color: $color;
        }
    }
}





/* 首页滚动文字 */

.m-word-scroll {
    padding: 0 .18rem;
    background: rgba($color, .2);
    .scroll-wrap {
        position: relative;
        overflow: hidden;
    }
    .scroll-con {
        width: 8000%;
        height: .6rem;
        line-height: .6rem;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        div {
            float: left;
        }
    }
}





/* 首页快捷导航 */

.public-quick-start {
    .menu-list {
        padding: 0 .4rem;
    }
    .items {
        float: left;
        width: 50%;
        padding: .25rem;
        text-align: center;
        border-bottom: 1px solid #eee;
        position: relative;
        &:nth-child(2n) {
            &::before {
                content: "";
                width: 1px;
                height: 1rem;
                background: #eee;
                position: absolute;
                left: -1px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        a {
            display: flex;
            align-items: center;
        }
        &:nth-last-child(1),
        &:nth-last-child(2) {
            border: 0;
        }
    }
    .img-box {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: relative;
        background: url(../images/icon_pic.png) no-repeat;
        background-size: 1rem 13.83rem;
        margin-right: .2rem;
    }
    .title {
        font-size: .24rem;
        color: #555;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .n-about {
        background-color: #ed525a;
        background-position: 0 0;
        box-shadow: 0 0 0 .06rem rgba(#ed525a, .3);
    }
    .n-product {
        background-color: #0aa2df;
        background-position: 0 -1.07rem;
        box-shadow: 0 0 0 .06rem rgba(#0aa2df, .3);
    }
    .n-business {
        background-color: #25d27a;
        background-position: 0 -2.13rem;
        box-shadow: 0 0 0 .06rem rgba(#25d27a, .3);
    }
    .n-gongying {
        background-color: #25d27a;
        background-position: 0 -3.2rem;
        box-shadow: 0 0 0 .06rem rgba(#25d27a, .3);
    }
    .n-prove {
        background-color: #fdbf28;
        background-position: 0 -4.26rem;
        box-shadow: 0 0 0 .06rem rgba(#fdbf28, .3);
    }
    .n-show {
        background-color: #79d309;
        background-position: 0 -5.33rem;
        box-shadow: 0 0 0 .06rem rgba(#79d309, .3);
    }
    .n-cart {
        background-color: #9382ec;
        background-position: 0 -6.4rem;
        box-shadow: 0 0 0 .06rem rgba(#9382ec, .3);
    }
    .n-map {
        background-color: #fd8d05;
        background-position: 0 -7.46rem;
        box-shadow: 0 0 0 .06rem rgba(#fd8d05, .3);
    }
    .n-wechat {
        background-color: #34e2dc;
        background-position: 0 -8.53rem;
        box-shadow: 0 0 0 .06rem rgba(#34e2dc, .3);
    }
    .n-message {
        background-color: #ad9b58;
        background-position: 0 -9.6rem;
        box-shadow: 0 0 0 .06rem rgba(#ad9b58, .3);
    }
    .n-server {
        background-color: #dc7373;
        background-position: 0 -10.66rem;
        box-shadow: 0 0 0 .06rem rgba(#dc7373, .3);
    }
    .n-share {
        background-color: #14b6eb;
        background-position: 0 -11.72rem;
        box-shadow: 0 0 0 .06rem rgba(#14b6eb, .3);
    }
    .n-more {
        background-color: #4e87eb;
        background-position: 0 -12.79rem;
        box-shadow: 0 0 0 .06rem rgba(#4e87eb, .3);
    }
}





/* 公用快捷联系 */

.public-quick-contact {
    background: rgba($color, .1);
    border-top: 1px solid rgba($color, .4);
    .contact-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .18rem 0 .35rem;
        height: 1.18rem;
    }
    .ct-intro {
        flex: 1 1 auto;
    }
    .thumbnail-box {
        width: .85rem;
        height: .85rem;
        padding: .03rem;
        margin-right: .1rem;
        border: 1px solid #cbcbcb;
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        img {
            border-radius: 50%;
            height: 100%;
        }
    }
    .infomation-box {
        max-width: 3rem;
        margin-top: .03rem;
        img {
            height: .75rem;
        }
    }
    .ct-btn {
        display: flex;
        align-items: center;
        height: .85rem;
        text-align: right;
        a {
            width: .6rem;
            height: .6rem;
        }
        .tell-btn {
            background-position: -.19rem -1.04rem;
        }
        .sms-btn {
            margin-left: .32rem;
            background-position: -1.17rem -1.04rem;
        }
    }
}





/* 公共交易展示模块 */

.public-business {
    padding: .18rem;
    background: #fff2d8;
    border-bottom: 1px solid #e36a21;
    .m-public-list {
        padding-top: .1rem;
        .img-wrap {
            border-color: #e36a21;
        }
        .item:hover {
            .title {
                color: #e36a21;
            }
        }
    }
    .price {
        b {
            font-size: .32rem;
            color: #e36a21;
        }
    }
    .go-shop-wrap {
        margin: .25rem 0;
        text-align: center;
    }
    .u-go-shop {
        display: inline-block;
        width: 3rem;
        height: .7rem;
        line-height: .7rem;
        font-weight: 700;
        font-size: .20rem;
        border-radius: .05rem;
        color: #b9581c;
        border: .02rem solid #eec195;
        @include gradient(#feecb2, #fdffc8, #ffd89a);
        &:before,
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin: 0 .1rem
        }
        &:before {
            width: .37rem;
            height: .3rem;
            background-position: -2.1rem -1.18rem;
        }
        &:after {
            width: .2rem;
            height: .2rem;
            background-color: #fff;
            border-radius: 50%;
            background-position: -4.63rem -2.24rem;
        }
    }
}





/* 产品模块 */

.m-public-list {
    .item {
        float: left;
        width: 1.9rem;
        margin-right: .16rem;
        margin-bottom: .25rem;
        text-align: center;
    }
    .item:nth-child(3n) {
        margin-right: 0;
    }
    .img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.9rem;
        padding: .03rem;
        background: #fff;
        border: 1px solid #d7d7d7;
        overflow: hidden;
    }
    .title {
        padding: .1rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}





/* 词公共列表 */

.public-word-group {
    background: #fff;
    .inset-wrap {
        padding: .18rem;
    }
    .lt-menu {
        margin-bottom: .2rem;
        a {
            float: left;
            width: 1.9rem;
            padding: .15rem 0;
            margin-right: .16rem;
            margin-bottom: .16rem;
            text-align: center;
            background: rgba($color, .1);
            border: 1px solid rgba($color, .4);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.active {
                border-color: #e36a21;
                color: #e36a21;
                background: rgba(#e36a21, .1);
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .u-more-wrap {
        padding: .15rem .18rem;
        border-top: 1px solid #ebeaea;
        text-align: right;
        .u-more {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .circle {
                display: inline-block;
                width: .26rem;
                height: .26rem;
                margin-left: .06rem;
                border-radius: 50%;
                background-color: $color;
                background-position: -4.61rem -1.88rem;
                vertical-align: -.04rem;
                font-family: 'SimHei', 'sans-serif';
            }
        }
    }
}

.hm-edit-area {
    background: #ebeaea;
    padding: .2rem 0 0;
    margin-bottom: .26rem;
}





/* 首页关键词选项卡 */

.m-key-tab {
    .m-public-list {
        display: none;
    }
}





/* 底部 */

.footer-inset {
    background: #ededed;
}





/* 友情链接 */

.m-friendly-link {
    padding: .18rem .18rem .1rem .18rem;
    border-top: 1px solid #cbcbcb;
    .title {
        color: #171717;
        font-size: .26rem;
        margin-bottom: .2rem;
    }
    .link-wrap {
        margin-left: -.1rem;
        .link-item {
            display: inline-block;
            padding: 0 .1rem;
            margin-bottom: .2rem;
            border-right: 2px solid #d1d1d1;
            color: #383838;
            &:last-child {
                border-right: 0;
            }
        }
    }
}

.m-bottom-info {
    border-top: 1px solid #cbcbcb;
    padding: .2rem 0;
    .info-wrap {
        img {
            height: .4rem;
        }
    }
}





/* 底部导航 */

.bottom-bar-pannel {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    max-width: 6.4rem;
    height: 1.1rem;
    transform: translateX(-50%);
    @include gradient(#636363, #787878, #464646);
    z-index: 999;
    .bar-item {
        float: left;
        width: 20%;
        height: 1.1rem;
        text-align: center;
    }
    .bar-4 {
        .bar-item {
            width: 25%;
        }
    }
    .bar-img {
        height: .49rem;
        margin: .12rem auto .1rem;
    }
    .n-home {
        width: .58rem;
        background-position: -2.82rem -1.09rem;
    }
    .n-tell {
        width: .43rem;
        background-position: -4.71rem -1.04rem;
    }
    .n-business {
        width: .55rem;
        background-position: -2.06rem -1.98rem;
    }
    .n-server {
        width: .49rem;
        background-position: -3.80rem -1.09rem;
        img {
            width: 100%;
            height: 100%;
            opacity: 0;
            filter: Alpha(opacity=0);
        }
    }
    .n-wechat {
        width: .58rem;
        background-position: -2.82rem -.20rem;
    }
    .bar-title {
        color: #fff;
    }
}